<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="dashboard-wrapper">
      <div class="dashboard-container">
        <aside>
          <div class="top">
            <div class="dashboard-logo">
              <img src="images/covid_logo.png" alt="" />
              <h2>COVID<span class="danger">BLOGS</span></h2>
            </div>
            <div class="close">
              <span class="material-icons-sharp">close</span>
            </div>
          </div>
          <div class="sidebar">
            <a class="active" href="#">
              <span class="material-icons-sharp">grid_view</span>
              <h3>Dashboard</h3>
            </a>
            <a href="#">
              <span class="material-icons-sharp"> article </span>

              <h3>Articles</h3>
            </a>
            <a href="#">
              <span class="material-icons-sharp">edit_note</span>
              <h3>Create</h3>
            </a>
            <a href="logout">
              <span class="material-icons-sharp"> logout </span>
              <h3>Logout</h3>
            </a>
          </div>
        </aside>
        <!--END OF SIDEBAR SECTION-->

        <main>
          <h1>Dashboard</h1>
          <div class="covid-info">
            <div class="covid-numbers">
              <span class="material-icons-sharp"> analytics </span>
              <div class="middle">
                <div class="left">
                  <h3>Global Cases</h3>
                  <h1>1 million</h1>
                </div>
                <div class="progress">
                  <h3>progress</h3>
                </div>
              </div>
              <small class="text-muted">Last 24 hours</small>
            </div>

            <div class="covid-numbers">
              <span class="material-icons-sharp"> analytics </span>
              <div class="middle">
                <div class="left">
                  <h3>Global Cases</h3>
                  <h1>1 million</h1>
                </div>
                <div class="progress">
                  <h3>progress</h3>
                </div>
              </div>
              <small class="text-muted">Last 24 hours</small>
            </div>

            <div class="covid-numbers">
              <span class="material-icons-sharp"> analytics </span>
              <div class="middle">
                <div class="left">
                  <h3>Global Cases</h3>
                  <h1>1,000</h1>
                </div>
                <div class="progress">
                  <h3>progress</h3>
                </div>
              </div>
              <small class="text-muted">Last 24 hours</small>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
