<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Covid News Generator</title>
  </head>
  <body>
    <div class="home-wrapper">
      <div class="home-container">
        <div class="home-text">
          <h1>
            Be apart of the <br />
            community by sharing <br />
            your experiences
          </h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing <br />
            elit. Excepturi accusamus
          </p>
          <a href="register">Sign Up Free</a>
        </div>
        <div class="image">
          <img src="images/home_image.png" alt="" />
        </div>
      </div>
    </div>
  </body>
  <script src="/script.js"></script>
</html>
