<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="background-container">
      <nav class="navbar">
        <a href="#" class="togglebutton">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="logo">Logo</div>
        <div class="navbar-links">
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="register">SignUp</a></li>
            <li><a href="login">Login</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <%- body %>
  </body>
</html>
