<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="login-container">
      <div class="login-main">
        <h1>REGISTER</h1>
        <%- include ("./partials/messages") %>
        <form action="/register" method="POST">
          <input
            required
            type="username"
            name="username"
            placeholder="username"
          />
          <input
            required
            type="email"
            name="email"
            placeholder="email@gmail.com"
          />
          <input
            required
            type="password"
            name="password"
            placeholder="password"
          />
          <input
            required
            type="password"
            name="password2"
            placeholder="confirm password"
          />
          <button>REGISTER</button>
        </form>
      </div>
    </div>
  </body>
</html>
